body {
    width: 1600px;
    background: #FFF;
    margin: 0 auto;
    padding: 0;
}

header {
    margin: 50px 140px;
    max-width: 1600px;
    height: 600px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('./resources/Banner\ Image.png');
}

.header-content {
    font-family: 'Merriweather', sans-serif;
    text-align: center;
    max-width: 500px;
    padding: 120px 360px 240px;
}

header h2 {
    width: 632px;
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
}

header h3 {
    width: 360px;
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding: 0 120px;
    margin-bottom: 16px;
}

.offer-section {
    margin: 120px auto;
    text-align: center;
}

.offer-content {
    font-family: 'Inter', sans-serif;
}

.offer-content h1 {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.offer-content p {
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.offer-content h2 {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

.midnight-section {
    margin: 120px 140px;
    width: 1320px;
    height: 600px;
    padding: 0px 0px 0px 120px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('./resources/Vectorrr.png');
    background-repeat: no-repeat;
}

.midnight-img {
    display: flex;
    position: relative;
    width: 320px;
    margin: 68px 138px 68px 760px;
    flex-direction: column;
}

.midnight-img img {
    position: absolute;
    bottom: 10px;
}

.midnight-content {
    padding: 100px 0px 0px 0px;
}

.midnight-content h2 {
    width: 642px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin-bottom: 24px;
}

.midnight-content p {
    width: 700px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
}

.midnight-content button {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    background: none;
    text-decoration: none;
}

.time-section {
    width: 1320px;
    height: 482px;
    margin: 120px 140px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}

.time-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 550px;
    padding: 100px 385px 215px;
}

.time-content p {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
}

.time-content span {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
}

.time-content button {
    width: 175px;
    height: 55px;
    color: #FFF;
    border-radius: 8px;
    background: #F00;
    text-align: center;
    display: inline-flex;
    margin: 0px 200px 110px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.coming-soon {
    margin: 120px 140px;
}

.coming-soon-content {
    text-align: left;
    justify-content: left;
}

#New {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding: 0;
    margin-bottom: 16px;
}

.coming-soon {
    width: 100%;
    display: flex;
    gap: 88px;
    align-items: center;
}

.coming-soon-content h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin: 0;
    margin-bottom: 22px;
}

#coming-soon-des {
    width: 390px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.coming-soon-img {
    object-fit: cover;
    border-radius: 365px;
}

.coming-soon-img img {
    width: 100%;
    height: 100%;
    border-radius: 463px;
    padding: 48px;
    border: 15px solid #F00;
}

.coming-soon-content-2024 {
    margin-left: 157px;
    align-items: center;
    justify-content: right;
}

.coming-soon-content-2024 h2 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

.coming-soon-content-2024 p {
    width: 275px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 42px;
}

.coming-soon-content-2024 img {
    width: 140px;
    height: 140px;
}

.holiday-section {
    margin: 120px 140px;
}

.holiday-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 68px;
}

#FUNCTIONAL {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.holiday-content h1 {
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 28px;
}

.holiday-content span {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 28px;
}

#holiday-des {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

.holiday-img {
    width: 1320px;
    height: 650px;
    display: flex;
    background: url('./resources/Rectangle\ 2.png'), url('./resources/Rectangle\ 1.png');
    background-repeat: no-repeat;
    background-position: bottom, top right;
}

#discount {
    width: 220px;
    height: 220px;
    margin: 140px 60px 77px 0px;
}

.portfolio-section {
    margin: 120px 140px;
}

.portfolio-content {
    align-items: center;
    text-align: left;
}

.portfolio-content h5 {
    margin: 0;
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.portfolio-content h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 22px;
}

.portfolio-content p {
    width: 900px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 48px;
}

.portfolio-img figure {
    display: inline;
}

.portfolio-img figure img {
    width: 300px;
    height: 325px;
    margin-left: 12px;
    margin-bottom: 50px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.portfolio-img figure:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.subscribe-section {
    width: 1320px;
    height: 700px;
    margin: 120px 140px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

.subscribe-content {
    align-items: center;
    justify-content: center;
    margin: 128px 0;
}

.subscribe-content img {
    width: 150px;
    height: 150px;
    margin-top: 80px;
    padding: 0 575px;
    margin-bottom: 20px;
}

.subscribe-content h2 {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 22px;
    padding: 0 160px;
}

.subscribe-content p {
    width: 900px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 48px;
    padding: 0 240px;
}

.subscribe-btn {
    width: 648px;
    height: 72px;
    display: flex;
    max-width: 800px;
    margin: 80px auto;
}

.subscribe-btn input {
    color: rgba(7, 2, 17, 0.30);
    flex-grow: 1;
    border: none;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    background: #FFF;
    padding: 25px 30px;
}

.subscribe-btn button {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 0px 50px 50px 0px;
    padding: 24px 56px;
    background: #F00;
}

.footer-section {
    width: 1600px;
    height: 700px;
    margin: 120px 0px 0px 0px;
    background: #070211;
    padding: 0px 140px;
}

.footer-section hr {
    height: 1px;
    color: rgba(255, 255, 255, 0.15);
    margin: 48px 0;
    align-items: center;
}

.footer-content-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 120px;
}

.footer-content-2 {
    align-items: center;
    position: relative;
    padding: 0px 615px;
}

.footer-content-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 120px 0;
}

#street-des {
    width: 375px;
    height: 80px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

.web {
    list-style-type: none;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

#phone {
    list-style-image: url('./resources/Call.png');
}

#website {
    list-style-image: url('./resources/Website.png');
}

.footer-content-2 img {
    width: 64px;
    height: 64px;
    margin-right: 24px;
}

.footer-content-3 p {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}